.welcome-banner{
    background-color: #2FA084;
    color: black;
}

#footer {
    background-color: #2FA084 !important;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

.post-card{
    background-color: white;
}

.a {
    color: black;
}

.li {
    color: black;
}

.nav-link {
    color: black;
}

#main-nav{
    background-color: #6FCF97;
    color: black;
}

#post-desc a{
    color: black !important;
    text-decoration: none !important;
}

#maintain-posts a{
    color: black !important;
    text-decoration: none !important;
}
